!!! 5
html
    head  
    title Invalid Page
    link(rel='stylesheet', href='/todo/main.css') 
  body
    h1 404 Error
    div This page is invalid you might have meant to go to the 
      a(href='/todo') todoList application