extends layout

block content
  ul
    - var data = results;
    each item, i in results.query
      - var record = item;
      - var task = record.task;
      li
        textarea(name = 'task')
          #{task}
        | Complete:
        - if (item.complete == 0)
          input(type='checkbox', name='complete')
        - else
          input(type='checkbox', checked, name='complete')
        | Due:
        input(value = record.dueDate, class='due', name='dueDate')
        input(name ='delete' + i, type='checkbox', value='0',  class='styled')        