extends layout

block content
  ul
    - var data = results;
    each item, i in results.query
      - var record = item;
      - var task = record.task;
      li
        textarea(name = 'task' + i)
          #{task}
        | Complete:
        - if (item.complete == 0)
          input(type='checkbox', name='complete' + i)
        - else
          input(type='checkbox', checked, name='complete' + i)
        | Due:
        input(value = record.dueDate, class='due')
        